* {
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

body {
    color: rgb(20, 28, 131);
    background: linear-gradient(90deg, rgb(13, 16, 97), rgb(36, 201, 30));
}

.conteudo-box {
    background-color: whitesmoke;
    padding: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border: 2px solid whitesmoke;
    border-radius: 30px;
    box-shadow: 1px 1px 25px black;
}

#title {
    font-size: 20px;
    margin: 0px;
}

.button,
.buttondelete {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 6px;
    color: black;
    border: 2px;
    border-radius: 5px;
    position: relative;
    background-color: whitesmoke;
    will-change: transform;
    transition: transform 750ms;
}

.buttondelete {
    color: red;
}

.button:hover,
.buttondelete:hover {
    background-color: gainsboro;
    transition: transform 750ms;
    transform: translateY(-15px);
}

.textview {
    width: 211px;
    height: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;
    padding: 15px;
    color: black;
    background-color: whitesmoke;
    pointer-events: none;
    cursor: default;
}

#title {
    user-select: none;
    cursor: default;
    font-size: 40px;
    color: black;
}